<% unless @channel.errors.empty? %>
  <ul class="error">
    <% @channel.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: {channel: @channel} %>

<%= link_to '返回 Channel 列表', channels_url %>