<div class="col-xs-12 col-md-12">

  <% unless flash[:danger].blank? %>
    <div>
      <%= flash[:danger] %>
    </div>
  <% end %>

  <table class="table table-bordered table-striped">
    <tr>
      <td>#Id</td>
      <td>Name</td>
      <td>Edit Times</td>
      <td>操作</td>
    </tr>
    <%= content_tag_for(:tr, @channels) do |channel| %>
      <td><%= channel.id %></td>
      <td><%= link_to channel.name, channel_url(channel) %></td>
      <td><%= channel.edit_times %></td>
      <td>
        <%= link_to '更新', edit_channel_url(channel) %>
        <%= link_to '删除', channel_url(channel), method: :delete %>
      </td>
    <% end %>
  </table>


  <%= link_to '添加 Channel', new_channel_url %>
</div>
