I`am in channel show page and The Channel id is [<%= @channel.id %>] the name is [<%= @channel.name %>]

<br/>

<%= link_to '添加 Listing', listings_new_channel_url, class: 'btn btn-primary' %>

<br/>
<br/>
<%= link_to '返回 Channel 列表', channels_url %>
