<%= form_for(@listing, html: {class: 'form-horizontal'}) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :asin, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :asin, class: 'form-control', placeholder: 'ASIN' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :url, class: 'form-control', placeholder: 'URL' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tags, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {selected: @listing.tags.ids}, {multiple: true, class: 'form-control'}) %>
    </div>
  </div>


  <%= hidden_field_tag :channel_id, params[:id] %>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default' %>
    <%= link_to '取消', listing_url(@listing), class: 'btn btn-default' %>
  </div>
<% end %>
