<h1>Listing listings</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <td>#Id</td>
    <td>ASIN</td>
    <td>URL</td>
    <td>Channel Name</td>
    <td colspan="3">Actions</td>
  </tr>
  </thead>

  <tbody>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.id %></td>
      <td><%= listing.asin %></td>
      <td><%= listing.url %></td>
      <td><%= listing.channel ? listing.channel.name : '' %></td>
      <td><%= link_to 'Show', listing %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      <td><%= link_to 'Destroy', listing, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
