<div class="col-md-offset-3 col-md-6">
  <% unless flash[:danger].nil? %>
    <div class="alert alert-danger" role="alert"><%= flash[:danger] %></div>
  <% end %>

  <%= form_tag(login_url, class: "form-horizontal") do %>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

      <div class="col-sm-10">
        <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  <% end %>
</div>
