<!DOCTYPE html>
<html>
<head>
  <title>EtrackerDemo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">Etracker_Demo</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= active_tab('channels') %>">
          <a href="<%= channels_url %>">Channels 列表</a>
        </li>
        <li class="<%= active_tab('listings') %>">
          <a href="<%= listings_url %>">Listing 列表</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if login? %>
            <%= link_to '登出', logout_url, method: :delete %>
          <% else %>
            <a href="<%= login_url %>">用户登入</a>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</nav>

<% unless flash[:info].nil? %>
  <div class="alert alert-info" role="alert"><%= flash[:info] %></div>
<% end %>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
